<mat-accordion>
        <mat-expansion-panel *ngFor = "let post of posts$ | async">
            <mat-expansion-panel-header class="right-aligned-header">
                <mat-panel-title >
                {{post.title}}

        
                </mat-panel-title>
               
                <mat-panel-description>
                        
                     <button mat-raised-button color="primary" (click)="addlike(post.id,post.like)">LIKE</button> 
                     LIKES: {{post.like}}
                </mat-panel-description>
            </mat-expansion-panel-header> 
            <h3>body:</h3>{{post.body}} 
        </mat-expansion-panel>
    </mat-accordion>
    